.container {
	position: relative;
}

.container img {
	width: 80%;
}
.background {
	max-width: 100%;
}

.ears,
.eyes,
.hair,
.leg,
.mouth,
.nose,
.neck,
.accessories {
	position: absolute;
	left: 0;
	top: 0;
}

.eyes,
.mouth {
	z-index: 10;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	.container img {
		width: 100%;
	}
}
